<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <style th:inline="text">
        body {
            background-image: url([[@{/images/LogoutDog.jpg}]]);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
        h1 {text-align: center;}
        .button_container {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
    <style ></style>
</head>
<body>
<h1>You have logged out. Happy Trails!</h1>
<div class="button_container">
    <div class="mainMenuButton">
        <form action="#" method="get">
            <button type ="submit" name="action" value="login"><a href="/login">Login</a></button>
        </form>
    </div>
</div>

</body>
</html>