<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Appointment Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <style>
        .container, input {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .container, textarea {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        h1 {text-align: center;}
        input {text-align: center;}

    </style>
</head>

<body background="../images/BrandLogo.PNG">
<nav class="navbar fixed-top navbar-expand-sm navbar-primary bg-tertiary">
    <a
            class="navbar-brand mb-0 h1">
        <img
                class="d-inline-block align-top"
                src="/images/MiniLogo.PNG"
                width="30" height="30"/>
        Woof Walkers
    </a>
    <button type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            class="navbar-toggler"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="http://localhost:8080/profile" class="nav-link active">
                    Home
                </a>
            </li>
            <li class="nav-item active">
                <a href="http://localhost:8080/showNewDogForm" class="nav-link">
                    Add Dog
                </a>
            </li>
            <li class="nav-item active">
                <a href="http://localhost:8080/showNewAppointmentForm" class="nav-link">
                    Schedule Walk
                </a>
            </li>
            <li class="nav-item active">
                <a href="http://localhost:8080/logout" class="nav-link">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<br>
<br>
<div class="container">
    <h1>Schedule Dog Walk</h1>
    <hr>
    <h2>Request New Appointment</h2>
    <br>

<!--    <form th:action="@{/saveAppointment}" th:object="${appointment}" onsubmit="return checkForm(this);" id="appointmentForm" method="POST">-->
        <form th:action="@{/saveAppointment}" th:object="${appointment}" id="appointmentForm" method="POST">

            <strong>Appointment Date</strong>

            <input type="date" th:field="*{appointmentDate}" name="appointmentDate" placeholder="Appointment Date" class="form-control mb-4 col-4" required>

            <strong>Appointment Time</strong>

        <input type="time" th:field="*{appointmentTime}" name="appointmentTime" placeholder="Appointment Time" class="form-control mb-4 col-4" required>

<!--        <input type="text" th:field="*{user.id}" name="userId" placeholder="User Id" id="userId" class="form-control mb-4 col-4" required>-->
            <strong>Dog Id(s)</strong>
            <em>*To schedule an appointment for more than one dog, separate dog Ids with a ","</em>
        <input type="text" th:field="*{dogs}" name="dogId" placeholder="Dog Id(s)" id="dogId" class="form-control mb-4 col-4" required>

<!--            <p>Dog #2 Id</p>-->
<!--        <input type="text" th:field="*{dog.id}" name="dogId" placeholder="Dog Id" id="dogId2" class="form-control mb-4 col-4">-->

<!--            <p>Dog #3 Id</p>-->
<!--        <input type="text" th:field="*{dog.id}" name="dogId" placeholder="Dog Id" id="dogId3" class="form-control mb-4 col-4">-->

            <strong>Comments for your dog walker</strong>

        <textarea type="text" th:field="*{comments}" id="comments" class="form-control mb-4 col-4" style="height:150px" maxlength="200"></textarea>
            <p></p>

        <br>
        <br>
        <button id="signupSubmit" type="submit" class="btn btn-info col-2"> Save Appointment</button>
        <div class="error"></div>
    </form>

    <hr>

    <a th:href="@{/profile}"> Back to Profile</a>
</div>
</body>

</html>