<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Dog Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <style>
        .container, input {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        h1 {text-align: center;}
        input {text-align: center;}

    </style>
</head>

<body background="../images/BrandLogo.PNG">
<nav class="navbar fixed-top navbar-expand-sm navbar-primary bg-tertiary">
    <a
            href="#"
            class="navbar-brand mb-0 h1">
        <img
                class="d-inline-block align-top"
                src="/images/MiniLogo.PNG"
                width="30" height="30"/>
        Woof Walkers
    </a>
    <button type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            class="navbar-toggler"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="#" class="nav-link active">
                    Home
                </a>
            </li>
            <li class="nav-item active">
                <a href="http://localhost:8080/showNewDogForm" class="nav-link">
                    Add Dog
                </a>
            </li>
            <li class="nav-item active">
                <a href="http://localhost:8080/showNewAppointmentForm" class="nav-link">
                    Schedule Walk
                </a>
            </li>
            <li class="nav-item active">
                <a href="http://localhost:8080/logout" class="nav-link">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<div class="container">
    <h1>Profile</h1>
    <hr>
    <h2>Your Dogs</h2>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Dog Name</th>
            <th>Dog Breed</th>
            <th>Dog Sex</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dog : ${listDogs}">
<!--            <input type="hidden" th:field="*{id}" />-->
            <td th:text="${dog.dogName}"></td>
            <td th:text="${dog.dogBreed}"></td>
            <td th:text="${dog.dogSex}"></td>
            <td> <a th:href="@{/showDogFormForUpdate/{id}(id=${dog.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteDog/{id}(id=${dog.id})}" class="btn btn-danger">Delete</a>
        </tr>
        </tbody>
    </table>

    <h2>Your Appointments</h2>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th>Dog Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${listAppointments}">
            <td th:text="${appointment.appointmentDate}"></td>
            <td th:text="${appointment.appointmentTime}"></td>
            <td th:text="${appointment.dog.dogName}"></td>
            <td> <a th:href="@{/showAppointmentFormForUpdate/{id}(id=${appointment.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteAppointment/{id}(id=${appointment.id})}" class="btn btn-danger">Delete</a>
        </tr>
        </tbody>
    </table>

    <hr>
</div>
</body>

</html>