<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Appointment Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body background="../images/BrandLogo.PNG">
<div class="container">

    <h1>Appointment Management System</h1>
    <hr>
    <h2>Update Appointment</h2>

    <form th:action="@{/saveAppointment}" th:object="${appointment}" id="appointmentForm" method="POST">
        <input type="hidden" th:field="*{id}" />
        <p>Appointment Date</p>

        <input type="date" th:field="*{appointmentDate}" name="appointmentDate" placeholder="Appointment Date" class="form-control mb-4 col-4" required>

        <p>Appointment Time</p>

        <input type="time" th:field="*{appointmentTime}" name="appointmentTime" placeholder="Appointment Time" class="form-control mb-4 col-4" required>

        <!--        <input type="text" th:field="*{user.id}" name="userId" placeholder="User Id" id="userId" class="form-control mb-4 col-4" required>-->
        <p>Dog #1 Id</p>
        <input type="text" th:field="*{dog.id}" name="dogId" placeholder="Dog Id" id="dogId" class="form-control mb-4 col-4" required>

<!--        <p>Dog #2 Id</p>-->
<!--        <input type="text" th:field="*{dog.id}" name="dogId" placeholder="Dog Id" id="dogId2" class="form-control mb-4 col-4">-->

<!--        <p>Dog #3 Id</p>-->
<!--        <input type="text" th:field="*{dog.id}" name="dogId" placeholder="Dog Id" id="dogId3" class="form-control mb-4 col-4">-->

        <p>Comments for your dog walker</p>
        <textarea type="text" th:field="*{comments}" id="comments" class="form-control mb-4 col-4" style="height:150px" maxlength="200"></textarea>
        <br>
        <br>
        <button id="signupSubmit" type="submit" class="btn btn-info col-2"> Update Appointment</button>
        <div class="error"></div>
    </form>

    <hr>

    <a th:href="@{/profile}"> Back to Profile</a>
</div>
</body>

</html>